body {
  font-family: "Arial", "Helvetica", sans-serif;
}

body {
  border-color: red;
  border-style: solid;
  border-width: 5px;
}

/* deixando o fundo ridículo */
body {
  background: ;
}

#cabecalho {
  color: white;
  text-align: center;
}

#rodape img {
  margin-right: 35px;
  vertical-align: middle;
  width: 94px;
}

h1 {
  background-image: url(sobre-background.jpg);
}

h3 {
  color: rgb(255, 100, 50);
  background: #F2EDED;
}

p {
background-color: ;
color: #2B6B2B;
}

p {
  line-height: 10px; /* tamanho da altura de cada linha */
  letter-spacing: 2px; /* tamanho do espaço entre cada letra */
  word-spacing: 10px; /* tamanho do espaço entre cada palavra */
  text-indent: 50px; /* tamanho da margem da primeira linha do texto */
}
